{%extends "layout.html"%}
{% block title%}

{%endblock%}
{% block content %}
<h1 class="text-center mt-4"> just add a new blog </h1>
<a class="btn btn-primary" href="{%url 'blog_create'%}">make a post</a>
<div class="container">
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        <img src="{{blog.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{blog.user.username}}</h5>
          <p class="card-text">{{blog.text}}</p>
        {% if blog.user == user %}

          <a href="{%url 'blog_edit' blog.id%}" class="btn btn-primary">Edit</a>
          <a href="{%url 'blog_delete' blog.id%}" class="btn btn-danger">Delete</a>
        {%endif%}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}